<a href="https://www.kaggle.com/code/mahtaba/titanic-using-name-only-in-python-0-79904?scriptVersionId=93743640" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

I have had a difficult time reading Chris Deotte's (@cdeotte) [notebook](http://https://www.kaggle.com/code/cdeotte/titanic-using-name-only-0-) in the R language. So, I implemented his notebook ('Titanic using Name only') in Python 3. 
Chris Deotte uses only one column i.e. 'Name' to predict survival. He also used the 'Ticket' column to improve his predictions by a margin. I have, however, solely relied on the 'Name' column to make predictions with an accuracy of ~0.8.

What I like about Chris' approach is his model's simplicity. Many kernels have used complex Machine Learning models to give comparatively poor predictions. Chris does not use Machine Learning at all. He uses some common sense to make relatively accurate guesses. I hope you find this notebook helpful.

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('/kaggle/input/titanic/train.csv')[['PassengerId', 'Survived', 'Name']]
test = pd.read_csv('/kaggle/input/titanic/test.csv')[['PassengerId', 'Name']]

In [3]:

train['Surname'], test['Surname'] = (df['Name'].apply(lambda x: x.split(',')[0]) for df in [train, test])
train['Title'], test['Title'] = (df['Name'].apply(lambda x: x.split(',')[1]).apply(lambda x: x.split()[0]) for df in [train, test])

In [4]:
train.groupby('Title')['PassengerId'].count()

Title
Capt.          1
Col.           2
Don.           1
Dr.            7
Jonkheer.      1
Lady.          1
Major.         2
Master.       40
Miss.        182
Mlle.          2
Mme.           1
Mr.          517
Mrs.         125
Ms.            1
Rev.           6
Sir.           1
the            1
Name: PassengerId, dtype: int64

In [5]:
#We incorrectly extracted 'the' as a Title
train[train.Title=='the']

,PassengerId,Survived,Name,Surname,Title
759,760,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",Rothes,the

In [6]:
#Correcting the Title for passenger 760
train.loc[(train.PassengerId==760), 'Title'] = 'Countess.'

In [7]:
#Creating a dictionary to map Title to relevant Category
TitleDict = {'Capt.': 'man', 'Don.': 'man', 'Major.': 'man', 'Col.': 'man', 'Rev.': 'man', 'Dr.': 'man', 'Sir.': 'man',
                'Mr.': 'man', 'Jonkheer.': 'man', 'Dona.': 'woman', 'Countess.': 'woman', 'Mme.': 'woman', 'Mlle.': 'woman',
                'Ms.': 'woman', 'Miss.': 'woman', 'Lady.': 'woman', 'Mrs.': 'woman', 'Master.': 'boy'}

In [8]:
train['Category'], test['Category'] = (df.Title.map(TitleDict) for df in [train, test])

In [9]:
#The gender model, which predicts all women to survive and men to expire, scores pretty well, .76. We know that women and 
#children were given preference while saving passengers on the Titanic. So, we'll identify women-children-groups. For that,
#we'll create a temporary dataset which excludes men and then identify women-children-groups by their surnames.
temp = train[(train.Category!='man')]
SurnameDict = temp.groupby('Surname')['PassengerId'].count().to_dict()
print(SurnameDict)

{'Abbott': 1, 'Abelson': 1, 'Ahlin': 1, 'Aks': 1, 'Allen': 1, 'Allison': 3, 'Andersen-Jensen': 1, 'Andersson': 7, 'Andrews': 1, 'Angle': 1, 'Appleton': 1, 'Arnold-Franchi': 1, 'Asplund': 4, 'Astor': 1, 'Attalah': 1, 'Aubart': 1, 'Ayoub': 1, 'Backstrom': 1, 'Baclini': 4, 'Ball': 1, 'Barbara': 2, 'Barber': 1, 'Baxter': 1, 'Bazzani': 1, 'Beane': 1, 'Becker': 2, 'Beckwith': 1, 'Bidois': 1, 'Bishop': 1, 'Bissette': 1, 'Bonnell': 1, 'Boulos': 2, 'Bourke': 2, 'Bowerman': 1, 'Brown': 3, 'Burns': 1, 'Buss': 1, 'Bystrom': 1, 'Cacic': 1, 'Caldwell': 2, 'Cameron': 1, 'Canavan': 1, 'Caram': 1, 'Carr': 1, 'Carter': 4, 'Chambers': 1, 'Cherry': 1, 'Chibnall': 1, 'Christy': 1, 'Clarke': 1, 'Cleaver': 1, 'Collyer': 2, 'Compton': 1, 'Connolly': 1, 'Coutts': 2, 'Crosby': 1, 'Cumings': 1, 'Dahlberg': 1, 'Danbom': 1, 'Davies': 1, 'Davis': 1, 'Davison': 1, 'Dean': 1, 'Devaney': 1, 'Dick': 1, 'Dodge': 1, 'Doling': 2, 'Dowdell': 1, 'Drew': 1, 'Duff Gordon': 1, 'Duran y More': 1, 'Emanuel': 1, 'Endres': 1, 'Eustis': 1, 'Faunthorpe': 1, 'Fleming': 1, 'Ford': 3, 'Fortune': 2, 'Francatelli': 1, 'Frauenthal': 1, 'Frolicher': 1, 'Funk': 1, 'Futrelle': 1, 'Garside': 1, 'Gilnagh': 1, 'Glynn': 1, 'Goldenberg': 1, 'Goldsmith': 2, 'Goodwin': 5, 'Graham': 2, 'Haas': 1, 'Hakkarainen': 1, 'Hamalainen': 2, 'Harknett': 1, 'Harper': 2, 'Harris': 1, 'Hart': 2, 'Hays': 2, 'Healy': 1, 'Hegarty': 1, 'Heikkinen': 1, 'Heininen': 1, 'Henry': 1, 'Herman': 2, 'Hewlett': 1, 'Hippach': 2, 'Hirvonen': 1, 'Hocking': 1, 'Hogeboom': 1, 'Holverson': 1, 'Honkanen': 1, 'Hoyt': 1, 'Icard': 1, 'Ilett': 1, 'Ilmakangas': 1, 'Isham': 1, 'Jacobsohn': 1, 'Jermyn': 1, 'Jerwan': 1, 'Johnson': 3, 'Johnston': 1, 'Jussila': 2, 'Kantor': 1, 'Karun': 1, 'Keane': 1, 'Kelly': 3, 'Kenyon': 1, 'Kink-Heilmann': 1, 'Lahtinen': 1, 'Laitinen': 1, 'Landergren': 1, 'Laroche': 2, 'LeRoy': 1, 'Lefebre': 4, 'Lehmann': 1, 'Leitch': 1, 'Lemore': 1, 'Lindahl': 1, 'Lindblom': 1, 'Lines': 1, 'Lobb': 1, 'Longley': 1, 'Louch': 1, 'Lurette': 1, 'Mack': 1, 'Madigan': 1, 'Madill': 1, 'Maioni': 1, 'Mallet': 1, 'Mangan': 1, 'Mannion': 1, 'Masselmani': 1, 'Mayne': 1, 'McCoy': 1, 'McDermott': 1, 'McGovern': 1, 'McGowan': 1, 'Meanwell': 1, 'Meek': 1, 'Mellinger': 2, 'Meyer': 1, 'Minahan': 1, 'Mockler': 1, 'Moor': 2, 'Moran': 1, 'Moubarek': 2, 'Moussa': 1, 'Mullens': 1, 'Murphy': 2, 'Najib': 1, 'Nakid': 1, 'Nasser': 1, 'Navratil': 2, 'Newell': 2, 'Newsom': 1, 'Nicola-Yarred': 2, 'Nilsson': 1, 'Nye': 1, 'Nysten': 1, "O'Brien": 1, "O'Driscoll": 1, "O'Dwyer": 1, "O'Leary": 1, "O'Sullivan": 1, 'Ohman': 1, 'Olsson': 1, 'Oreskovic': 1, 'Osman': 1, 'Palsson': 4, 'Panula': 4, 'Parrish': 1, 'Pears': 1, 'Penasco y Castellana': 1, 'Perreault': 1, 'Peter': 2, 'Peters': 1, 'Petranec': 1, 'Pettersson': 1, 'Phillips': 1, 'Pinsky': 1, 'Potter': 1, 'Quick': 2, 'Renouf': 1, 'Reynaldo': 1, 'Rice': 5, 'Richards': 3, 'Ridsdale': 1, 'Robert': 1, 'Robins': 1, 'Rosblom': 1, 'Rothes': 1, 'Rothschild': 1, 'Rugg': 1, 'Ryerson': 2, 'Sage': 4, 'Sagesser': 1, 'Salkjelsvik': 1, 'Sandstrom': 2, 'Serepeca': 1, 'Shelley': 1, 'Shutes': 1, 'Silven': 1, 'Silvey': 1, 'Sinkkonen': 1, 'Sjoblom': 1, 'Skoog': 5, 'Slayter': 1, 'Smith': 1, 'Spedden': 1, 'Spencer': 1, 'Stanley': 1, 'Stephenson': 1, 'Stone': 1, 'Strandberg': 1, 'Strom': 2, 'Swift': 1, 'Taussig': 2, 'Taylor': 1, 'Thayer': 1, 'Thomas': 1, 'Thorne': 1, 'Thorneycroft': 1, 'Toomey': 1, 'Touma': 1, 'Trout': 1, 'Troutt': 1, 'Turja': 1, 'Turkula': 1, 'Turpin': 1, 'Van Impe': 2, 'Vander Planke': 2, 'Vestrom': 1, 'Ward': 1, 'Warren': 1, 'Watt': 1, 'Webber': 1, 'Weisz': 1, 'Wells': 1, 'West': 2, 'Wick': 2, 'Yasbeck': 1, 'Young': 1, 'Yrois': 1, 'Zabour': 2, 'de Messemaeker': 1}

In [10]:
train.loc[(train.Category!='man'), 'SurnameFreq']=train.Surname.map(SurnameDict) #mapping Surname to the dictionary

In [11]:
train.head()

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq
0,1,0,"Braund, Mr. Owen Harris",Braund,Mr.,man,NaN
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs.,woman,1.0
2,3,1,"Heikkinen, Miss. Laina",Heikkinen,Miss.,woman,1.0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs.,woman,1.0
4,5,0,"Allen, Mr. William Henry",Allen,Mr.,man,NaN

In [12]:
#142 passengers belonged to a woman-child-group
train[train.SurnameFreq>1]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq
7,8,0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,4.0
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0
10,11,1,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,2.0
16,17,0,"Rice, Master. Eugene",Rice,Master.,boy,5.0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Vander Planke,Mrs.,woman,2.0
...,...,...,...,...,...,...,...
858,859,1,"Baclini, Mrs. Solomon (Latifa Qurban)",Baclini,Mrs.,woman,4.0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,Miss.,woman,4.0
869,870,1,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0
885,886,0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,5.0
887,888,1,"Graham, Miss. Margaret Edith",Graham,Miss.,woman,2.0

In [13]:
train.loc[(train.SurnameFreq>1), 'Group'] = 1 #identifying these 142 passengers as Group=1

In [14]:
train[(train.Group==1)]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group
7,8,0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,4.0,1.0
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0,1.0
10,11,1,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,2.0,1.0
16,17,0,"Rice, Master. Eugene",Rice,Master.,boy,5.0,1.0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Vander Planke,Mrs.,woman,2.0,1.0
...,...,...,...,...,...,...,...,...
858,859,1,"Baclini, Mrs. Solomon (Latifa Qurban)",Baclini,Mrs.,woman,4.0,1.0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,Miss.,woman,4.0,1.0
869,870,1,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0,1.0
885,886,0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,5.0,1.0
887,888,1,"Graham, Miss. Margaret Edith",Graham,Miss.,woman,2.0,1.0

In [15]:
#Creating a dictionary which keeps a count of average survival of every woman-child-groups
dic = train[(train.Group==1)].groupby('Surname')['Survived'].mean().to_dict()
print(type(dic))
print(dic)

<class 'dict'>
{'Allison': 0.3333333333333333, 'Andersson': 0.14285714285714285, 'Asplund': 0.75, 'Baclini': 1.0, 'Barbara': 0.0, 'Becker': 1.0, 'Boulos': 0.0, 'Bourke': 0.0, 'Brown': 1.0, 'Caldwell': 1.0, 'Carter': 0.75, 'Collyer': 1.0, 'Coutts': 1.0, 'Doling': 1.0, 'Ford': 0.0, 'Fortune': 1.0, 'Goldsmith': 1.0, 'Goodwin': 0.0, 'Graham': 1.0, 'Hamalainen': 1.0, 'Harper': 1.0, 'Hart': 1.0, 'Hays': 1.0, 'Herman': 1.0, 'Hippach': 1.0, 'Johnson': 1.0, 'Jussila': 0.0, 'Kelly': 1.0, 'Laroche': 1.0, 'Lefebre': 0.0, 'Mellinger': 1.0, 'Moor': 1.0, 'Moubarek': 1.0, 'Murphy': 1.0, 'Navratil': 1.0, 'Newell': 1.0, 'Nicola-Yarred': 1.0, 'Palsson': 0.0, 'Panula': 0.0, 'Peter': 1.0, 'Quick': 1.0, 'Rice': 0.0, 'Richards': 1.0, 'Ryerson': 1.0, 'Sage': 0.0, 'Sandstrom': 1.0, 'Skoog': 0.0, 'Strom': 0.0, 'Taussig': 1.0, 'Van Impe': 0.0, 'Vander Planke': 0.0, 'West': 1.0, 'Wick': 1.0, 'Zabour': 0.0}

In [16]:
train.loc[(train.Group==1), 'SurnameSurvival']=train.Surname.map(dic)

In [17]:
train[(train.SurnameSurvival.isnull()==False)]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
7,8,0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,4.0,1.0,0.0
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0,1.0,1.0
10,11,1,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,2.0,1.0,1.0
16,17,0,"Rice, Master. Eugene",Rice,Master.,boy,5.0,1.0,0.0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Vander Planke,Mrs.,woman,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
858,859,1,"Baclini, Mrs. Solomon (Latifa Qurban)",Baclini,Mrs.,woman,4.0,1.0,1.0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,Miss.,woman,4.0,1.0,0.0
869,870,1,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0,1.0,1.0
885,886,0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,5.0,1.0,0.0
887,888,1,"Graham, Miss. Margaret Edith",Graham,Miss.,woman,2.0,1.0,1.0

In [18]:
#These 74 woman-child-group passengers all survived
train[train.SurnameSurvival==1]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0,1.0,1.0
10,11,1,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,2.0,1.0,1.0
39,40,1,"Nicola-Yarred, Miss. Jamila",Nicola-Yarred,Miss.,woman,2.0,1.0,1.0
43,44,1,"Laroche, Miss. Simonne Marie Anne Andree",Laroche,Miss.,woman,2.0,1.0,1.0
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",Harper,Mrs.,woman,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
831,832,1,"Richards, Master. George Sibley",Richards,Master.,boy,3.0,1.0,1.0
856,857,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",Wick,Mrs.,woman,2.0,1.0,1.0
858,859,1,"Baclini, Mrs. Solomon (Latifa Qurban)",Baclini,Mrs.,woman,4.0,1.0,1.0
869,870,1,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0,1.0,1.0
887,888,1,"Graham, Miss. Margaret Edith",Graham,Miss.,woman,2.0,1.0,1.0

In [19]:
#These 50 woman-child-group passengers all perished
print(len(train[train.SurnameSurvival==0]))
train[train.SurnameSurvival==0]

50

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
7,8,0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,4.0,1.0,0.0
16,17,0,"Rice, Master. Eugene",Rice,Master.,boy,5.0,1.0,0.0
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Vander Planke,Mrs.,woman,2.0,1.0,0.0
24,25,0,"Palsson, Miss. Torborg Danira",Palsson,Miss.,woman,4.0,1.0,0.0
38,39,0,"Vander Planke, Miss. Augusta Maria",Vander Planke,Miss.,woman,2.0,1.0,0.0
50,51,0,"Panula, Master. Juha Niilo",Panula,Master.,boy,4.0,1.0,0.0
59,60,0,"Goodwin, Master. William Frederick",Goodwin,Master.,boy,5.0,1.0,0.0
63,64,0,"Skoog, Master. Harald",Skoog,Master.,boy,5.0,1.0,0.0
71,72,0,"Goodwin, Miss. Lillian Amy",Goodwin,Miss.,woman,5.0,1.0,0.0
111,112,0,"Zabour, Miss. Hileni",Zabour,Miss.,woman,2.0,1.0,0.0
113,114,0,"Jussila, Miss. Katriina",Jussila,Miss.,woman,2.0,1.0,0.0
140,141,0,"Boulos, Mrs. Joseph (Sultana)",Boulos,Mrs.,woman,2.0,1.0,0.0
147,148,0,"Ford, Miss. Robina Maggie ""Ruby""",Ford,Miss.,woman,3.0,1.0,0.0
159,160,0,"Sage, Master. Thomas Henry",Sage,Master.,boy,4.0,1.0,0.0
164,165,0,"Panula, Master. Eino Viljami",Panula,Master.,boy,4.0,1.0,0.0
167,168,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",Skoog,Mrs.,woman,5.0,1.0,0.0
171,172,0,"Rice, Master. Arthur",Rice,Master.,boy,5.0,1.0,0.0
176,177,0,"Lefebre, Master. Henry Forbes",Lefebre,Master.,boy,4.0,1.0,0.0
180,181,0,"Sage, Miss. Constance Gladys",Sage,Miss.,woman,4.0,1.0,0.0
205,206,0,"Strom, Miss. Telma Matilda",Strom,Miss.,woman,2.0,1.0,0.0
229,230,0,"Lefebre, Miss. Mathilde",Lefebre,Miss.,woman,4.0,1.0,0.0
240,241,0,"Zabour, Miss. Thamine",Zabour,Miss.,woman,2.0,1.0,0.0
251,252,0,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",Strom,Mrs.,woman,2.0,1.0,0.0
278,279,0,"Rice, Master. Eric",Rice,Master.,boy,5.0,1.0,0.0
362,363,0,"Barbara, Mrs. (Catherine David)",Barbara,Mrs.,woman,2.0,1.0,0.0
374,375,0,"Palsson, Miss. Stina Viola",Palsson,Miss.,woman,4.0,1.0,0.0
386,387,0,"Goodwin, Master. Sidney Leonard",Goodwin,Master.,boy,5.0,1.0,0.0
402,403,0,"Jussila, Miss. Mari Aina",Jussila,Miss.,woman,2.0,1.0,0.0
409,410,0,"Lefebre, Miss. Ida",Lefebre,Miss.,woman,4.0,1.0,0.0
419,420,0,"Van Impe, Miss. Catharina",Van Impe,Miss.,woman,2.0,1.0,0.0
436,437,0,"Ford, Miss. Doolina Margaret ""Daisy""",Ford,Miss.,woman,3.0,1.0,0.0
480,481,0,"Goodwin, Master. Harold Victor",Goodwin,Master.,boy,5.0,1.0,0.0
485,486,0,"Lefebre, Miss. Jeannie",Lefebre,Miss.,woman,4.0,1.0,0.0
567,568,0,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",Palsson,Mrs.,woman,4.0,1.0,0.0
593,594,0,"Bourke, Miss. Mary",Bourke,Miss.,woman,2.0,1.0,0.0
634,635,0,"Skoog, Miss. Mabel",Skoog,Miss.,woman,5.0,1.0,0.0
638,639,0,"Panula, Mrs. Juha (Maria Emilia Ojala)",Panula,Mrs.,woman,4.0,1.0,0.0
642,643,0,"Skoog, Miss. Margit Elizabeth",Skoog,Miss.,woman,5.0,1.0,0.0
657,658,0,"Bourke, Mrs. John (Catherine)",Bourke,Mrs.,woman,2.0,1.0,0.0
678,679,0,"Goodwin, Mrs. Frederick (Augusta Tyler)",Goodwin,Mrs.,woman,5.0,1.0,0.0
702,703,0,"Barbara, Miss. Saiide",Barbara,Miss.,woman,2.0,1.0,0.0
736,737,0,"Ford, Mrs. Edward (Margaret Ann Watson)",Ford,Mrs.,woman,3.0,1.0,0.0
787,788,0,"Rice, Master. George Hugh",Rice,Master.,boy,5.0,1.0,0.0
792,793,0,"Sage, Miss. Stella Anna",Sage,Miss.,woman,4.0,1.0,0.0
799,800,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",Van Impe,Mrs.,woman,2.0,1.0,0.0
819,820,0,"Skoog, Master. Karl Thorsten",Skoog,Master.,boy,5.0,1.0,0.0
824,825,0,"Panula, Master. Urho Abraham",Panula,Master.,boy,4.0,1.0,0.0
852,853,0,"Boulos, Miss. Nourelain",Boulos,Miss.,woman,2.0,1.0,0.0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,Miss.,woman,4.0,1.0,0.0
885,886,0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,5.0,1.0,0.0

In [20]:
#These 18 passengers had mixed survival
train[(train.SurnameSurvival>0) & (train.SurnameSurvival<1)]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Asplund,Mrs.,woman,4.0,1.0,0.750000
68,69,1,"Andersson, Miss. Erna Alexandra",Andersson,Miss.,woman,7.0,1.0,0.142857
119,120,0,"Andersson, Miss. Ellis Anna Maria",Andersson,Miss.,woman,7.0,1.0,0.142857
182,183,0,"Asplund, Master. Clarence Gustaf Hugo",Asplund,Master.,boy,4.0,1.0,0.750000
233,234,1,"Asplund, Miss. Lillian Gertrud",Asplund,Miss.,woman,4.0,1.0,0.750000
261,262,1,"Asplund, Master. Edvin Rojj Felix",Asplund,Master.,boy,4.0,1.0,0.750000
297,298,0,"Allison, Miss. Helen Loraine",Allison,Miss.,woman,3.0,1.0,0.333333
305,306,1,"Allison, Master. Hudson Trevor",Allison,Master.,boy,3.0,1.0,0.333333
435,436,1,"Carter, Miss. Lucile Polk",Carter,Miss.,woman,4.0,1.0,0.750000
498,499,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",Allison,Mrs.,woman,3.0,1.0,0.333333
541,542,0,"Andersson, Miss. Ingeborg Constanzia",Andersson,Miss.,woman,7.0,1.0,0.142857
542,543,0,"Andersson, Miss. Sigrid Elisabeth",Andersson,Miss.,woman,7.0,1.0,0.142857
610,611,0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",Andersson,Mrs.,woman,7.0,1.0,0.142857
763,764,1,"Carter, Mrs. William Ernest (Lucile Polk)",Carter,Mrs.,woman,4.0,1.0,0.750000
802,803,1,"Carter, Master. William Thornton II",Carter,Master.,boy,4.0,1.0,0.750000
813,814,0,"Andersson, Miss. Ebba Iris Alfrida",Andersson,Miss.,woman,7.0,1.0,0.142857
850,851,0,"Andersson, Master. Sigvard Harald Elias",Andersson,Master.,boy,7.0,1.0,0.142857
854,855,0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",Carter,Mrs.,woman,4.0,1.0,0.750000

In [21]:
#Apply gender model plus new predictions
train.Predict = 0
train.loc[(train.Category=='woman'), 'Predict'] = 1
train.loc[(train.Category!='woman'), 'Predict'] = 0
train.loc[(train.Category=='boy') & (train.SurnameSurvival>0.5), 'Predict'] = 1
train.loc[(train.Category=='woman') & (train.SurnameSurvival<0.5), 'Predict'] = 0

In [22]:
#How many predictions changed from the gender model? How many of them are correct? 42 out of 43
print(len(train[(train.Category=='woman') & (train['Predict']==0)]))
train[(train.Category=='woman') & (train['Predict']==0)]

43

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival,Predict
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Vander Planke,Mrs.,woman,2.0,1.0,0.000000,0.0
24,25,0,"Palsson, Miss. Torborg Danira",Palsson,Miss.,woman,4.0,1.0,0.000000,0.0
38,39,0,"Vander Planke, Miss. Augusta Maria",Vander Planke,Miss.,woman,2.0,1.0,0.000000,0.0
68,69,1,"Andersson, Miss. Erna Alexandra",Andersson,Miss.,woman,7.0,1.0,0.142857,0.0
71,72,0,"Goodwin, Miss. Lillian Amy",Goodwin,Miss.,woman,5.0,1.0,0.000000,0.0
111,112,0,"Zabour, Miss. Hileni",Zabour,Miss.,woman,2.0,1.0,0.000000,0.0
113,114,0,"Jussila, Miss. Katriina",Jussila,Miss.,woman,2.0,1.0,0.000000,0.0
119,120,0,"Andersson, Miss. Ellis Anna Maria",Andersson,Miss.,woman,7.0,1.0,0.142857,0.0
140,141,0,"Boulos, Mrs. Joseph (Sultana)",Boulos,Mrs.,woman,2.0,1.0,0.000000,0.0
147,148,0,"Ford, Miss. Robina Maggie ""Ruby""",Ford,Miss.,woman,3.0,1.0,0.000000,0.0
167,168,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",Skoog,Mrs.,woman,5.0,1.0,0.000000,0.0
180,181,0,"Sage, Miss. Constance Gladys",Sage,Miss.,woman,4.0,1.0,0.000000,0.0
205,206,0,"Strom, Miss. Telma Matilda",Strom,Miss.,woman,2.0,1.0,0.000000,0.0
229,230,0,"Lefebre, Miss. Mathilde",Lefebre,Miss.,woman,4.0,1.0,0.000000,0.0
240,241,0,"Zabour, Miss. Thamine",Zabour,Miss.,woman,2.0,1.0,0.000000,0.0
251,252,0,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",Strom,Mrs.,woman,2.0,1.0,0.000000,0.0
297,298,0,"Allison, Miss. Helen Loraine",Allison,Miss.,woman,3.0,1.0,0.333333,0.0
362,363,0,"Barbara, Mrs. (Catherine David)",Barbara,Mrs.,woman,2.0,1.0,0.000000,0.0
374,375,0,"Palsson, Miss. Stina Viola",Palsson,Miss.,woman,4.0,1.0,0.000000,0.0
402,403,0,"Jussila, Miss. Mari Aina",Jussila,Miss.,woman,2.0,1.0,0.000000,0.0
409,410,0,"Lefebre, Miss. Ida",Lefebre,Miss.,woman,4.0,1.0,0.000000,0.0
419,420,0,"Van Impe, Miss. Catharina",Van Impe,Miss.,woman,2.0,1.0,0.000000,0.0
436,437,0,"Ford, Miss. Doolina Margaret ""Daisy""",Ford,Miss.,woman,3.0,1.0,0.000000,0.0
485,486,0,"Lefebre, Miss. Jeannie",Lefebre,Miss.,woman,4.0,1.0,0.000000,0.0
498,499,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",Allison,Mrs.,woman,3.0,1.0,0.333333,0.0
541,542,0,"Andersson, Miss. Ingeborg Constanzia",Andersson,Miss.,woman,7.0,1.0,0.142857,0.0
542,543,0,"Andersson, Miss. Sigrid Elisabeth",Andersson,Miss.,woman,7.0,1.0,0.142857,0.0
567,568,0,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",Palsson,Mrs.,woman,4.0,1.0,0.000000,0.0
593,594,0,"Bourke, Miss. Mary",Bourke,Miss.,woman,2.0,1.0,0.000000,0.0
610,611,0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",Andersson,Mrs.,woman,7.0,1.0,0.142857,0.0
634,635,0,"Skoog, Miss. Mabel",Skoog,Miss.,woman,5.0,1.0,0.000000,0.0
638,639,0,"Panula, Mrs. Juha (Maria Emilia Ojala)",Panula,Mrs.,woman,4.0,1.0,0.000000,0.0
642,643,0,"Skoog, Miss. Margit Elizabeth",Skoog,Miss.,woman,5.0,1.0,0.000000,0.0
657,658,0,"Bourke, Mrs. John (Catherine)",Bourke,Mrs.,woman,2.0,1.0,0.000000,0.0
678,679,0,"Goodwin, Mrs. Frederick (Augusta Tyler)",Goodwin,Mrs.,woman,5.0,1.0,0.000000,0.0
702,703,0,"Barbara, Miss. Saiide",Barbara,Miss.,woman,2.0,1.0,0.000000,0.0
736,737,0,"Ford, Mrs. Edward (Margaret Ann Watson)",Ford,Mrs.,woman,3.0,1.0,0.000000,0.0
792,793,0,"Sage, Miss. Stella Anna",Sage,Miss.,woman,4.0,1.0,0.000000,0.0
799,800,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",Van Impe,Mrs.,woman,2.0,1.0,0.000000,0.0
813,814,0,"Andersson, Miss. Ebba Iris Alfrida",Andersson,Miss.,woman,7.0,1.0,0.142857,0.0
852,853,0,"Boulos, Miss. Nourelain",Boulos,Miss.,woman,2.0,1.0,0.000000,0.0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,Miss.,woman,4.0,1.0,0.000000,0.0
885,886,0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,5.0,1.0,0.000000,0.0

In [23]:
#How many predictions changed from the gender model? How many of them are correct? 17 out of 18
print(len(train[(train.Category=='boy') & (train['Predict']==1)]))
train[(train.Category=='boy') & (train['Predict']==1)]

18

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival,Predict
65,66,1,"Moubarek, Master. Gerios",Moubarek,Master.,boy,2.0,1.0,1.00,1.0
78,79,1,"Caldwell, Master. Alden Gates",Caldwell,Master.,boy,2.0,1.0,1.00,1.0
125,126,1,"Nicola-Yarred, Master. Elias",Nicola-Yarred,Master.,boy,2.0,1.0,1.00,1.0
165,166,1,"Goldsmith, Master. Frank John William ""Frankie""",Goldsmith,Master.,boy,2.0,1.0,1.00,1.0
182,183,0,"Asplund, Master. Clarence Gustaf Hugo",Asplund,Master.,boy,4.0,1.0,0.75,1.0
183,184,1,"Becker, Master. Richard F",Becker,Master.,boy,2.0,1.0,1.00,1.0
193,194,1,"Navratil, Master. Michel M",Navratil,Master.,boy,2.0,1.0,1.00,1.0
261,262,1,"Asplund, Master. Edvin Rojj Felix",Asplund,Master.,boy,4.0,1.0,0.75,1.0
340,341,1,"Navratil, Master. Edmond Roger",Navratil,Master.,boy,2.0,1.0,1.00,1.0
348,349,1,"Coutts, Master. William Loch ""William""",Coutts,Master.,boy,2.0,1.0,1.00,1.0
407,408,1,"Richards, Master. William Rowe",Richards,Master.,boy,3.0,1.0,1.00,1.0
489,490,1,"Coutts, Master. Eden Leslie ""Neville""",Coutts,Master.,boy,2.0,1.0,1.00,1.0
709,710,1,"Moubarek, Master. Halim Gonios (""William George"")",Moubarek,Master.,boy,2.0,1.0,1.00,1.0
751,752,1,"Moor, Master. Meier",Moor,Master.,boy,2.0,1.0,1.00,1.0
755,756,1,"Hamalainen, Master. Viljo",Hamalainen,Master.,boy,2.0,1.0,1.00,1.0
802,803,1,"Carter, Master. William Thornton II",Carter,Master.,boy,4.0,1.0,0.75,1.0
831,832,1,"Richards, Master. George Sibley",Richards,Master.,boy,3.0,1.0,1.00,1.0
869,870,1,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0,1.0,1.00,1.0

So Chris Deotte's model performs dope on training data. Let's see if it performs well enough on test dataset.

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      891 non-null    int64
 1   Survived         891 non-null    int64
 2   Name             891 non-null    object
 3   Surname          891 non-null    object
 4   Title            891 non-null    object
 5   Category         891 non-null    object
 6   SurnameFreq      353 non-null    float64
 7   Group            142 non-null    float64
 8   SurnameSurvival  142 non-null    float64
 9   Predict          891 non-null    float64
dtypes: float64(4), int64(2), object(4)
memory usage: 69.7+ KB

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Name         418 non-null    object
 2   Surname      418 non-null    object
 3   Title        418 non-null    object
 4   Category     418 non-null    object
dtypes: int64(1), object(4)
memory usage: 16.5+ KB

In [26]:
combined = pd.concat([train, test], axis=0).reset_index().drop('index', axis=1)

In [27]:
combined.head()

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival,Predict
0,1,0.0,"Braund, Mr. Owen Harris",Braund,Mr.,man,NaN,NaN,NaN,0.0
1,2,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs.,woman,1.0,NaN,NaN,1.0
2,3,1.0,"Heikkinen, Miss. Laina",Heikkinen,Miss.,woman,1.0,NaN,NaN,1.0
3,4,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs.,woman,1.0,NaN,NaN,1.0
4,5,0.0,"Allen, Mr. William Henry",Allen,Mr.,man,NaN,NaN,NaN,0.0

In [28]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      1309 non-null   int64
 1   Survived         891 non-null    float64
 2   Name             1309 non-null   object
 3   Surname          1309 non-null   object
 4   Title            1309 non-null   object
 5   Category         1309 non-null   object
 6   SurnameFreq      353 non-null    float64
 7   Group            142 non-null    float64
 8   SurnameSurvival  142 non-null    float64
 9   Predict          891 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 102.4+ KB

In [29]:
#We need to recalculate SurnameFreq, Group and SurnameSurvival
combined = combined.drop(['SurnameFreq', 'Group', 'SurnameSurvival', 'Predict'], axis=1)

In [30]:
combined.groupby('Title')['PassengerId'].count()

Title
Capt.          1
Col.           4
Countess.      1
Don.           1
Dona.          1
Dr.            8
Jonkheer.      1
Lady.          1
Major.         2
Master.       61
Miss.        260
Mlle.          2
Mme.           1
Mr.          757
Mrs.         197
Ms.            2
Rev.           8
Sir.           1
Name: PassengerId, dtype: int64

In [31]:
temp = combined[(combined.Category!='man')]
SurnameDict = temp.groupby('Surname')['PassengerId'].count().to_dict()
print(SurnameDict)

{'Abbott': 2, 'Abelseth': 1, 'Abelson': 1, 'Abrahim': 1, 'Ahlin': 1, 'Aks': 2, 'Allen': 1, 'Allison': 3, 'Andersen-Jensen': 1, 'Andersson': 8, 'Andrews': 1, 'Angle': 1, 'Appleton': 1, 'Arnold-Franchi': 1, 'Asplund': 6, 'Assaf Khalil': 1, 'Astor': 1, 'Attalah': 1, 'Aubart': 1, 'Ayoub': 1, 'Backstrom': 1, 'Baclini': 4, 'Badman': 1, 'Ball': 1, 'Barbara': 2, 'Barber': 1, 'Barry': 1, 'Baxter': 1, 'Bazzani': 1, 'Beane': 1, 'Becker': 4, 'Beckwith': 1, 'Bentham': 1, 'Betros': 1, 'Bidois': 1, 'Bird': 1, 'Bishop': 1, 'Bissette': 1, 'Bonnell': 2, 'Boulos': 3, 'Bourke': 2, 'Bowen': 1, 'Bowerman': 1, 'Bradley': 1, 'Braf': 1, 'Brown': 5, 'Bryhl': 1, 'Buckley': 1, 'Bucknell': 1, 'Burns': 2, 'Buss': 1, 'Bystrom': 1, 'Cacic': 2, 'Caldwell': 2, 'Cameron': 1, 'Canavan': 1, 'Candee': 1, 'Caram': 1, 'Cardeza': 1, 'Carr': 2, 'Carter': 4, 'Cassebeer': 1, 'Cavendish': 1, 'Chaffee': 1, 'Chambers': 1, 'Chapman': 1, 'Chaudanson': 1, 'Cherry': 1, 'Chibnall': 1, 'Christy': 2, 'Clark': 1, 'Clarke': 1, 'Cleaver': 1, 'Collyer': 2, 'Compton': 2, 'Connolly': 2, 'Cook': 1, 'Corbett': 1, 'Corey': 1, 'Cornell': 1, 'Coutts': 3, 'Cribb': 1, 'Crosby': 2, 'Cumings': 1, 'Dahlberg': 1, 'Daly': 1, 'Danbom': 2, 'Daniels': 1, 'Davidson': 1, 'Davies': 2, 'Davis': 1, 'Davison': 1, 'Dean': 3, 'Devaney': 1, 'Dick': 1, 'Dodge': 2, 'Doling': 2, 'Douglas': 2, 'Dowdell': 1, 'Doyle': 1, 'Drapkin': 1, 'Drew': 2, 'Duff Gordon': 1, 'Duran y More': 2, 'Dyker': 1, 'Earnshaw': 1, 'Emanuel': 1, 'Endres': 1, 'Eustis': 1, 'Evans': 1, 'Faunthorpe': 1, 'Flegenheim': 1, 'Fleming': 2, 'Ford': 3, 'Fortune': 4, 'Francatelli': 1, 'Frauenthal': 1, 'Frolicher': 1, 'Frolicher-Stehli': 1, 'Funk': 1, 'Futrelle': 1, 'Garside': 1, 'Geiger': 1, 'Gibson': 2, 'Gilnagh': 1, 'Glynn': 1, 'Goldenberg': 1, 'Goldsmith': 2, 'Goodwin': 6, 'Graham': 2, 'Greenfield': 1, 'Haas': 1, 'Hagardon': 1, 'Hakkarainen': 1, 'Hamalainen': 2, 'Hansen': 1, 'Harder': 1, 'Harknett': 1, 'Harper': 2, 'Harris': 1, 'Hart': 2, 'Hays': 2, 'Healy': 1, 'Hegarty': 1, 'Heikkinen': 1, 'Heininen': 1, 'Hellstrom': 1, 'Henriksson': 1, 'Henry': 1, 'Herman': 3, 'Hewlett': 1, 'Hiltunen': 1, 'Hippach': 2, 'Hirvonen': 2, 'Hocking': 2, 'Hogeboom': 1, 'Hold': 1, 'Holverson': 1, 'Honkanen': 1, 'Howard': 2, 'Hoyt': 1, 'Icard': 1, 'Ilett': 1, 'Ilmakangas': 2, 'Isham': 1, 'Jacobsohn': 1, 'Jermyn': 1, 'Jerwan': 1, 'Johnson': 3, 'Johnston': 3, 'Jussila': 2, 'Kantor': 1, 'Karnes': 1, 'Karun': 1, 'Keane': 1, 'Kelly': 3, 'Kenyon': 1, 'Khalil': 1, 'Kimball': 1, 'Kink': 1, 'Kink-Heilmann': 2, 'Klasen': 2, 'Kreuchen': 1, 'Lahtinen': 1, 'Laitinen': 1, 'Landergren': 1, 'Laroche': 3, 'LeRoy': 1, 'Lefebre': 5, 'Lehmann': 1, 'Leitch': 1, 'Lemore': 1, 'Lennon': 1, 'Lindahl': 1, 'Lindblom': 1, 'Lindell': 1, 'Lindstrom': 1, 'Lines': 2, 'Lobb': 1, 'Longley': 1, 'Louch': 1, 'Lundin': 1, 'Lurette': 1, 'Mack': 1, 'Madigan': 1, 'Madill': 1, 'Mahon': 1, 'Maioni': 1, 'Mallet': 2, 'Mangan': 1, 'Mannion': 1, 'Marvin': 1, 'Masselmani': 1, 'Mayne': 1, 'McCarthy': 1, 'McCoy': 2, 'McDermott': 1, 'McGovern': 1, 'McGowan': 2, 'McNamee': 1, 'McNeill': 1, 'Meanwell': 1, 'Meek': 1, 'Mellinger': 2, 'Meyer': 1, 'Minahan': 2, 'Mockler': 1, 'Moor': 2, 'Moran': 1, 'Moubarek': 3, 'Moussa': 1, 'Mullens': 1, 'Mulvihill': 1, 'Murphy': 3, 'Najib': 1, 'Nakid': 2, 'Nasser': 1, 'Naughton': 1, 'Navratil': 2, 'Newell': 2, 'Newsom': 1, 'Nicola-Yarred': 2, 'Nieminen': 1, 'Nilsson': 2, 'Nye': 1, 'Nysten': 1, "O'Brien": 1, "O'Donoghue": 1, "O'Driscoll": 1, "O'Dwyer": 1, "O'Leary": 1, "O'Sullivan": 1, 'Ohman': 1, 'Oliva y Ocana': 1, 'Olsen': 1, 'Olsson': 1, 'Oreskovic': 2, 'Osman': 1, 'Ostby': 1, 'Palsson': 5, 'Panula': 4, 'Parrish': 1, 'Peacock': 3, 'Pears': 1, 'Penasco y Castellana': 1, 'Perreault': 1, 'Peter': 3, 'Peters': 1, 'Petranec': 1, 'Pettersson': 1, 'Phillips': 2, 'Pinsky': 1, 'Potter': 1, 'Quick': 3, 'Rasmussen': 1, 'Renouf': 1, 'Reynaldo': 1, 'Rice': 6, 'Richards': 3, 'Ridsdale': 1, 'Riihivouri': 1, 'Riordan': 1, 'Risien': 1, 'Robert': 1, 'Robins': 1, 'Rosblom': 2, 'Rosenbaum': 1, 'Roth': 1, 'Rothes': 1, 'Rothschild': 1, 'Rugg': 1, 'Ryerson': 4, 'Sage': 7, 'Sagesser': 1, 'Salkjelsvik': 1, 'Sandstrom': 3, 'Schabert': 1, 'Serepeca': 1, 'Shelley': 1, 'Shine': 1, 'Shutes': 1, 'Silven': 1, 'Silvey': 1, 'Sincock': 1, 'Sinkkonen': 1, 'Sjoblom': 1, 'Skoog': 5, 'Slayter': 1, 'Smith': 2, 'Smyth': 1, 'Snyder': 1, 'Spedden': 2, 'Spencer': 1, 'Stanley': 1, 'Stengel': 1, 'Stephenson': 1, 'Stone': 1, 'Strandberg': 1, 'Straus': 1, 'Strom': 2, 'Swift': 1, 'Taussig': 2, 'Taylor': 1, 'Thayer': 1, 'Thomas': 2, 'Thorne': 1, 'Thorneycroft': 1, 'Toomey': 1, 'Touma': 3, 'Trout': 1, 'Troutt': 1, 'Turja': 1, 'Turkula': 1, 'Turpin': 1, 'Van Impe': 2, 'Vander Planke': 2, 'Vestrom': 1, 'Walcroft': 1, 'Ward': 1, 'Ware': 1, 'Warren': 1, 'Watt': 2, 'Webber': 1, 'Weisz': 1, 'Wells': 3, 'West': 3, 'Whabee': 1, 'White': 1, 'Wick': 2, 'Widener': 1, 'Wilkes': 1, 'Willard': 1, 'Wilson': 1, 'Wright': 1, 'Yasbeck': 1, 'Young': 1, 'Yrois': 1, 'Zabour': 2, 'de Messemaeker': 1, 'del Carlo': 1, 'van Billiard': 2}

In [32]:
combined.loc[(combined.Category!='man'), 'SurnameFreq']=combined.Surname.map(SurnameDict) #mapping Surname to the dictionary

In [33]:
combined.head()

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq
0,1,0.0,"Braund, Mr. Owen Harris",Braund,Mr.,man,NaN
1,2,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Cumings,Mrs.,woman,1.0
2,3,1.0,"Heikkinen, Miss. Laina",Heikkinen,Miss.,woman,1.0
3,4,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Futrelle,Mrs.,woman,1.0
4,5,0.0,"Allen, Mr. William Henry",Allen,Mr.,man,NaN

In [34]:
combined[(combined.SurnameFreq>1)]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq
7,8,0.0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,5.0
8,9,1.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0
10,11,1.0,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,3.0
11,12,1.0,"Bonnell, Miss. Elizabeth",Bonnell,Miss.,woman,2.0
16,17,0.0,"Rice, Master. Eugene",Rice,Master.,boy,6.0
...,...,...,...,...,...,...,...
1291,1292,NaN,"Bonnell, Miss. Caroline",Bonnell,Miss.,woman,2.0
1293,1294,NaN,"Gibson, Miss. Dorothy Winifred",Gibson,Miss.,woman,2.0
1300,1301,NaN,"Peacock, Miss. Treasteall",Peacock,Miss.,woman,3.0
1302,1303,NaN,"Minahan, Mrs. William Edward (Lillian E Thorpe)",Minahan,Mrs.,woman,2.0
1308,1309,NaN,"Peter, Master. Michael J",Peter,Master.,boy,3.0

In [35]:
combined.loc[(combined.SurnameFreq>1), 'Group'] = 1 #identifying these 263 passengers as part of a woman-child-group

In [36]:
tmp = combined[0:891] #creating a temporary dataframe

In [37]:
tmp[(tmp.Group==1)] #180 woman-child-groups in the training dataset

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group
7,8,0.0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,5.0,1.0
8,9,1.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0,1.0
10,11,1.0,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,3.0,1.0
11,12,1.0,"Bonnell, Miss. Elizabeth",Bonnell,Miss.,woman,2.0,1.0
16,17,0.0,"Rice, Master. Eugene",Rice,Master.,boy,6.0,1.0
...,...,...,...,...,...,...,...,...
866,867,1.0,"Duran y More, Miss. Asuncion",Duran y More,Miss.,woman,2.0,1.0
869,870,1.0,"Johnson, Master. Harold Theodor",Johnson,Master.,boy,3.0,1.0
885,886,0.0,"Rice, Mrs. William (Margaret Norton)",Rice,Mrs.,woman,6.0,1.0
887,888,1.0,"Graham, Miss. Margaret Edith",Graham,Miss.,woman,2.0,1.0
888,889,0.0,"Johnston, Miss. Catherine Helen ""Carrie""",Johnston,Miss.,woman,3.0,1.0

In [38]:
#We'll use this dictionary to map SurnameSurvival
dct = tmp[(tmp.Group==1)].groupby('Surname')['Survived'].mean().to_dict()
print(type(dct))
print(dct)

<class 'dict'>
{'Abbott': 1.0, 'Aks': 1.0, 'Allison': 0.3333333333333333, 'Andersson': 0.14285714285714285, 'Asplund': 0.75, 'Baclini': 1.0, 'Barbara': 0.0, 'Becker': 1.0, 'Bonnell': 1.0, 'Boulos': 0.0, 'Bourke': 0.0, 'Brown': 1.0, 'Burns': 1.0, 'Cacic': 0.0, 'Caldwell': 1.0, 'Carr': 1.0, 'Carter': 0.75, 'Christy': 1.0, 'Collyer': 1.0, 'Compton': 1.0, 'Connolly': 1.0, 'Coutts': 1.0, 'Crosby': 1.0, 'Danbom': 0.0, 'Davies': 1.0, 'Dean': 1.0, 'Dodge': 1.0, 'Doling': 1.0, 'Drew': 1.0, 'Duran y More': 1.0, 'Fleming': 1.0, 'Ford': 0.0, 'Fortune': 1.0, 'Goldsmith': 1.0, 'Goodwin': 0.0, 'Graham': 1.0, 'Hamalainen': 1.0, 'Harper': 1.0, 'Hart': 1.0, 'Hays': 1.0, 'Herman': 1.0, 'Hippach': 1.0, 'Hirvonen': 1.0, 'Hocking': 1.0, 'Ilmakangas': 0.0, 'Johnson': 1.0, 'Johnston': 0.0, 'Jussila': 0.0, 'Kelly': 1.0, 'Kink-Heilmann': 1.0, 'Laroche': 1.0, 'Lefebre': 0.0, 'Lines': 1.0, 'Mallet': 1.0, 'McCoy': 1.0, 'McGowan': 1.0, 'Mellinger': 1.0, 'Minahan': 1.0, 'Moor': 1.0, 'Moubarek': 1.0, 'Murphy': 1.0, 'Nakid': 1.0, 'Navratil': 1.0, 'Newell': 1.0, 'Nicola-Yarred': 1.0, 'Nilsson': 1.0, 'Oreskovic': 0.0, 'Palsson': 0.0, 'Panula': 0.0, 'Peter': 1.0, 'Phillips': 1.0, 'Quick': 1.0, 'Rice': 0.0, 'Richards': 1.0, 'Rosblom': 0.0, 'Ryerson': 1.0, 'Sage': 0.0, 'Sandstrom': 1.0, 'Skoog': 0.0, 'Smith': 1.0, 'Spedden': 1.0, 'Strom': 0.0, 'Taussig': 1.0, 'Thomas': 1.0, 'Touma': 1.0, 'Van Impe': 0.0, 'Vander Planke': 0.0, 'Watt': 1.0, 'Wells': 1.0, 'West': 1.0, 'Wick': 1.0, 'Zabour': 0.0}

In [39]:
combined.loc[(combined.Group==1), 'SurnameSurvival']=combined.Surname.map(dct)

In [40]:
#We could not calculate SurnameSurvival for 13 passengers
combined[(combined.SurnameSurvival.isnull()==False)]

,PassengerId,Survived,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
7,8,0.0,"Palsson, Master. Gosta Leonard",Palsson,Master.,boy,5.0,1.0,0.0
8,9,1.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Johnson,Mrs.,woman,3.0,1.0,1.0
10,11,1.0,"Sandstrom, Miss. Marguerite Rut",Sandstrom,Miss.,woman,3.0,1.0,1.0
11,12,1.0,"Bonnell, Miss. Elizabeth",Bonnell,Miss.,woman,2.0,1.0,1.0
16,17,0.0,"Rice, Master. Eugene",Rice,Master.,boy,6.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
1283,1284,NaN,"Abbott, Master. Eugene Joseph",Abbott,Master.,boy,2.0,1.0,1.0
1286,1287,NaN,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",Smith,Mrs.,woman,2.0,1.0,1.0
1291,1292,NaN,"Bonnell, Miss. Caroline",Bonnell,Miss.,woman,2.0,1.0,1.0
1302,1303,NaN,"Minahan, Mrs. William Edward (Lillian E Thorpe)",Minahan,Mrs.,woman,2.0,1.0,1.0
1308,1309,NaN,"Peter, Master. Michael J",Peter,Master.,boy,3.0,1.0,1.0

In [41]:
export = combined[891:1309]

In [42]:
export.info() #We don't have surname survival for 13 passengers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 891 to 1308
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      418 non-null    int64
 1   Survived         0 non-null      float64
 2   Name             418 non-null    object
 3   Surname          418 non-null    object
 4   Title            418 non-null    object
 5   Category         418 non-null    object
 6   SurnameFreq      173 non-null    float64
 7   Group            83 non-null     float64
 8   SurnameSurvival  70 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 29.5+ KB

In [43]:
export = export.drop('Survived', axis=1) #drop Survived col. for now

In [44]:
export[(export.SurnameSurvival==1)] #These woman-child-group passengers all survived

,PassengerId,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
895,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",Hirvonen,Mrs.,woman,2.0,1.0,1.0
897,898,"Connolly, Miss. Kate",Connolly,Miss.,woman,2.0,1.0,1.0
915,916,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",Ryerson,Mrs.,woman,4.0,1.0,1.0
923,924,"Dean, Mrs. Bertram (Eva Georgetta Light)",Dean,Mrs.,woman,3.0,1.0,1.0
940,941,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",Coutts,Mrs.,woman,3.0,1.0,1.0
943,944,"Hocking, Miss. Ellen Nellie""""",Hocking,Miss.,woman,2.0,1.0,1.0
944,945,"Fortune, Miss. Ethel Flora",Fortune,Miss.,woman,4.0,1.0,1.0
955,956,"Ryerson, Master. John Borie",Ryerson,Master.,boy,4.0,1.0,1.0
957,958,"Burns, Miss. Mary Delia",Burns,Miss.,woman,2.0,1.0,1.0
960,961,"Fortune, Mrs. Mark (Mary McDougald)",Fortune,Mrs.,woman,4.0,1.0,1.0
980,981,"Wells, Master. Ralph Lester",Wells,Master.,boy,3.0,1.0,1.0
995,996,"Thomas, Mrs. Alexander (Thamine Thelma"")""",Thomas,Mrs.,woman,2.0,1.0,1.0
1008,1009,"Sandstrom, Miss. Beatrice Irene",Sandstrom,Miss.,woman,3.0,1.0,1.0
1011,1012,"Watt, Miss. Bertha J",Watt,Miss.,woman,2.0,1.0,1.0
1018,1019,"McCoy, Miss. Alicia",McCoy,Miss.,woman,2.0,1.0,1.0
1052,1053,"Touma, Master. Georges Youssef",Touma,Master.,boy,3.0,1.0,1.0
1056,1057,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",Kink-Heilmann,Mrs.,woman,2.0,1.0,1.0
1066,1067,"Brown, Miss. Edith Eileen",Brown,Miss.,woman,5.0,1.0,1.0
1069,1070,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",Becker,Mrs.,woman,4.0,1.0,1.0
1070,1071,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",Compton,Mrs.,woman,2.0,1.0,1.0
1077,1078,"Phillips, Miss. Alice Frances Louisa",Phillips,Miss.,woman,2.0,1.0,1.0
1085,1086,"Drew, Master. Marshall Brines",Drew,Master.,boy,2.0,1.0,1.0
1087,1088,"Spedden, Master. Robert Douglas",Spedden,Master.,boy,2.0,1.0,1.0
1088,1089,"Nilsson, Miss. Berta Olivia",Nilsson,Miss.,woman,2.0,1.0,1.0
1091,1092,"Murphy, Miss. Nora",Murphy,Miss.,woman,3.0,1.0,1.0
1094,1095,"Quick, Miss. Winifred Vera",Quick,Miss.,woman,3.0,1.0,1.0
1097,1098,"McGowan, Miss. Katherine",McGowan,Miss.,woman,2.0,1.0,1.0
1111,1112,"Duran y More, Miss. Florentina",Duran y More,Miss.,woman,2.0,1.0,1.0
1116,1117,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",Moubarek,Mrs.,woman,3.0,1.0,1.0
1132,1133,"Christy, Mrs. (Alice Frances)",Christy,Mrs.,woman,2.0,1.0,1.0
1141,1142,"West, Miss. Barbara J",West,Miss.,woman,3.0,1.0,1.0
1153,1154,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",Wells,Mrs.,woman,3.0,1.0,1.0
1173,1174,"Fleming, Miss. Honora",Fleming,Miss.,woman,2.0,1.0,1.0
1174,1175,"Touma, Miss. Maria Youssef",Touma,Miss.,woman,3.0,1.0,1.0
1187,1188,"Laroche, Miss. Louise",Laroche,Miss.,woman,3.0,1.0,1.0
1196,1197,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",Crosby,Mrs.,woman,2.0,1.0,1.0
1198,1199,"Aks, Master. Philip Frank",Aks,Master.,boy,2.0,1.0,1.0
1204,1205,"Carr, Miss. Jeannie",Carr,Miss.,woman,2.0,1.0,1.0
1217,1218,"Becker, Miss. Ruth Elizabeth",Becker,Miss.,woman,4.0,1.0,1.0
1221,1222,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",Davies,Mrs.,woman,2.0,1.0,1.0
1224,1225,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",Nakid,Mrs.,woman,2.0,1.0,1.0
1245,1246,"Dean, Miss. Elizabeth Gladys Millvina""""",Dean,Miss.,woman,3.0,1.0,1.0
1247,1248,"Brown, Mrs. John Murray (Caroline Lane Lamson)",Brown,Mrs.,woman,5.0,1.0,1.0
1252,1253,"Mallet, Mrs. Albert (Antoinette Magnin)",Mallet,Mrs.,woman,2.0,1.0,1.0
1265,1266,"Dodge, Mrs. Washington (Ruth Vidaver)",Dodge,Mrs.,woman,2.0,1.0,1.0
1276,1277,"Herman, Miss. Kate",Herman,Miss.,woman,3.0,1.0,1.0
1282,1283,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",Lines,Mrs.,woman,2.0,1.0,1.0
1283,1284,"Abbott, Master. Eugene Joseph",Abbott,Master.,boy,2.0,1.0,1.0
1286,1287,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",Smith,Mrs.,woman,2.0,1.0,1.0
1291,1292,"Bonnell, Miss. Caroline",Bonnell,Miss.,woman,2.0,1.0,1.0
1302,1303,"Minahan, Mrs. William Edward (Lillian E Thorpe)",Minahan,Mrs.,woman,2.0,1.0,1.0
1308,1309,"Peter, Master. Michael J",Peter,Master.,boy,3.0,1.0,1.0

In [45]:
export[(export.SurnameSurvival==0)] #These woman-child-group passengers all expired

,PassengerId,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
909,910,"Ilmakangas, Miss. Ida Livija",Ilmakangas,Miss.,woman,2.0,1.0,0.0
924,925,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",Johnston,Mrs.,woman,3.0,1.0,0.0
928,929,"Cacic, Miss. Manda",Cacic,Miss.,woman,2.0,1.0,0.0
946,947,"Rice, Master. Albert",Rice,Master.,boy,6.0,1.0,0.0
971,972,"Boulos, Master. Akar",Boulos,Master.,boy,3.0,1.0,0.0
1023,1024,"Lefebre, Mrs. Frank (Frances)",Lefebre,Mrs.,woman,5.0,1.0,0.0
1031,1032,"Goodwin, Miss. Jessie Allis",Goodwin,Miss.,woman,6.0,1.0,0.0
1079,1080,"Sage, Miss. Ada",Sage,Miss.,woman,7.0,1.0,0.0
1092,1093,"Danbom, Master. Gilbert Sigvard Emanuel",Danbom,Master.,boy,2.0,1.0,0.0
1135,1136,"Johnston, Master. William Arthur Willie""""",Johnston,Master.,boy,3.0,1.0,0.0
1171,1172,"Oreskovic, Miss. Jelka",Oreskovic,Miss.,woman,2.0,1.0,0.0
1175,1176,"Rosblom, Miss. Salli Helena",Rosblom,Miss.,woman,2.0,1.0,0.0
1251,1252,"Sage, Master. William Henry",Sage,Master.,boy,7.0,1.0,0.0
1256,1257,"Sage, Mrs. John (Annie Bullen)",Sage,Mrs.,woman,7.0,1.0,0.0
1280,1281,"Palsson, Master. Paul Folke",Palsson,Master.,boy,5.0,1.0,0.0

In [46]:
export[(export.SurnameSurvival>0) & (export.SurnameSurvival<1)] #These groups had mixed survival

,PassengerId,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival
1045,1046,"Asplund, Master. Filip Oscar",Asplund,Master.,boy,6.0,1.0,0.750000
1105,1106,"Andersson, Miss. Ida Augusta Margareta",Andersson,Miss.,woman,8.0,1.0,0.142857
1270,1271,"Asplund, Master. Carl Edgar",Asplund,Master.,boy,6.0,1.0,0.750000

In [47]:
#Apply gender model plus new predictions to test dataset
export.Survived = 0
export.loc[(export.Category=='woman'), 'Survived'] = 1
export.loc[(export.Category!='woman'), 'Survived'] = 0
export.loc[(export.Category=='boy') & (export.SurnameSurvival>0.5), 'Survived'] = 1
export.loc[(export.Category=='woman') & (export.SurnameSurvival<0.5), 'Survived'] = 0

In [48]:
export['Survived'] = export['Survived'].astype(int)

In [49]:
export.head()

,PassengerId,Name,Surname,Title,Category,SurnameFreq,Group,SurnameSurvival,Survived
891,892,"Kelly, Mr. James",Kelly,Mr.,man,NaN,NaN,NaN,0
892,893,"Wilkes, Mrs. James (Ellen Needs)",Wilkes,Mrs.,woman,1.0,NaN,NaN,1
893,894,"Myles, Mr. Thomas Francis",Myles,Mr.,man,NaN,NaN,NaN,0
894,895,"Wirz, Mr. Albert",Wirz,Mr.,man,NaN,NaN,NaN,0
895,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",Hirvonen,Mrs.,woman,2.0,1.0,1.0,1

In [50]:
#For some reason, my submission scores slightly below Chris', at .799
submission = export[['PassengerId', 'Survived']]
submission.to_csv('titanic_name_only.csv', index=False)